In [1]:
import numpy as np
import pandas as pd

Question 1

In [2]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [3]:
A.extend(B)
A_B = A
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

Question 2

In [4]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

Question 3

In [5]:
df = pd.read_csv('Data/StageA.csv')
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [6]:
df1= df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()
df1.sort_values(ascending=True,inplace=True)
df1.index[0]

'gas'

Question 4

In [7]:
df['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

Question 5

In [8]:
round(df['fuel_qty_burned'].skew(),2)

15.85

In [9]:
round(df['fuel_qty_burned'].kurt(),2)

651.37

Question 6

In [10]:
df.isna().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [11]:
df['fuel_unit'].isna().sum()

180

In [12]:
round(((df['fuel_unit'].isna().sum()/len(df))*100),3)

0.61

Question 7

In [13]:
df.groupby('fuel_type_code_pudl')['fuel_unit'].apply(lambda x: x.value_counts().index[0])

fuel_type_code_pudl
coal          ton
gas           mcf
nuclear    gramsU
oil           bbl
other         ton
waste         ton
Name: fuel_unit, dtype: object

In [14]:
COAL = df['fuel_type_code_pudl'] == 'coal'
GAS = df['fuel_type_code_pudl'] == 'gas'
NUCLEAR = df['fuel_type_code_pudl'] == 'nuclear'
OIL = df['fuel_type_code_pudl'] == 'oil'
WASTE = df['fuel_type_code_pudl'] == 'waste'
OTHER = df['fuel_type_code_pudl'] == 'other'


df.loc[COAL,'fuel_unit'] = df.loc[COAL,'fuel_unit'].fillna('ton')
df.loc[GAS,'fuel_unit'] = df.loc[GAS,'fuel_unit'].fillna('mcf')
df.loc[NUCLEAR,'fuel_unit'] = df.loc[NUCLEAR,'fuel_unit'].fillna('gramsU')
df.loc[OIL,'fuel_unit'] = df.loc[OIL,'fuel_unit'].fillna('bbl')
df.loc[WASTE,'fuel_unit'] = df.loc[WASTE,'fuel_unit'].fillna('ton')
df.loc[OTHER,'fuel_unit'] = df.loc[OTHER,'fuel_unit'].fillna('ton')

df.isna().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

Question 8

In [18]:
df2 = df.corrwith(df['fuel_cost_per_unit_burned'])
df2.sort_values(ascending=True,inplace=True)
df2

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
dtype: float64

Question 9

In [50]:
df3 = df.groupby('report_year')['fuel_cost_per_unit_burned'].mean()
df3.head()

report_year
1994    213.191996
1995    354.422555
1996     79.434995
1997    149.482132
1998    126.683519
Name: fuel_cost_per_unit_burned, dtype: float64

In [51]:
round(((126.683519-213.191996)/213.191996*100),0)

-41.0

Question 10

In [21]:
df4 = df.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()
df4.sort_values(ascending=False,inplace=True)
df4.index[0]

1997